body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #f1f1f1;
}

/* ======== NAVBAR ======== */
.navbar {
  /* background-color: #111; */
  background: linear-gradient(180deg, #111 70%, #1e1e1e 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3rem;
  height: 4em;
}

.logo {
  font-size: 1.5rem;
  color: #f5f5f5;
  letter-spacing: 1px;
}

/* ======== LINKS ======== */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #d1d1d1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #fff;
}

/* ======== DROPDOWN ======== */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: #1e1e1e;
  border: 1px solid #333;
  list-style: none;
  padding: 0.5rem 0;
  border-radius: 5px;
  width: 180px;
  z-index: 10;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu a {
  color: #ccc;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #333;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* ======== BOTONES ======== */
.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

.nav-buttons button {
  background-color: #222;
  color: #f1f1f1;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.nav-buttons button:hover {
  background-color: #333;
}

/* ======== MAIN ======== */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

h1 {
  color: #fff;
  font-weight: 400;
}
